<div class="flex flex-row justify-center w-full mt-9">
    <div class="hero bg-base-300 w-1/2 rounded-lg">
      <div class="hero-content flex-col lg:flex-row">
        <img
          src="/images/home-hero.webp"
          class="max-w-sm rounded-lg shadow-2xl" />
        <div>
          <h1 class="text-5xl font-bold">Lamb-dahahah Functions!</h1>
          <p class="py-6">
            Various Lambda functions and Terraform configurations for deploying them.
          </p>
          <button class="btn btn-primary" routerLink="/lambdas">Get Started</button>
        </div>
      </div>
    </div>

</div>
